<h1> Edit your Section</h1>

<%= render('layouts/errors', :object => @section) %>

<form action='/sections/<%= @section.id %>' method='post'>
  <input name='_method' type='hidden' value='patch'>

  <%= render('form') %>

  <button class='btn btn-success'>Update Section</button>
</form>

<br></br>

<p><a href='/sections/<%= @section.id %>'
  data-confirm='Are you sure?'
  data-method='delete'
  rel='nofollow' class='btn btn-info'>Delete this Section</a></p>

<p><a href='/sections' class='btn btn-primary'>Return to Section Homepage</a></p>
