<h1> Create a new section </h1>

<%= render('layouts/errors', :object => @section) %>

<form action="/sections/<%= @section.id %>" method="post">
  <%= render('form') %>

  <button class="btn btn-success">Create Section</button>

  <p><a href='/sections' class='btn btn-primary'>Return to Section Homepage</a></p>
