<h1> Here is the Section and its Lessons: </h1>



<h2>Section Name: <%= @section.name %> </h2>
  <ul>
    <% @section.lessons.each do |lesson| %>
      <li><%= lesson.name %></li>
    <% end %>
  </ul>

<p><a href='/sections/<%=@section.id%>/edit' class='btn btn-success'>Edit this Section</a></p>

<p><a href='/sections' class='btn btn-primary'>Return to the Section Homepage</a></p>
