<h1> Here is the Section and its Lessons: </h1>



<h2>Section Name: <%= @section.name %> </h2>
  <ul>
    <% @lessons.each do |lesson| %>
      <% if lesson.section_id == @section.id %>
        <li><%= lesson.name %></li>
        <% end %>
    <% end %>
  </ul>

<br></br>

<p><a href='/sections/<%=@section.id%>/edit' class='btn btn-success'>Edit this Section</a></p>

<p><a href='/sections' class='btn btn-primary'>Return to the Section Homepage</a></p>
