<h1> <%= @section.name %> was saved </h1>

<p><a href='/sections/<%= @section.id %>' class='btn btn-success'>View <%= @section.name %> information </a></p>

<p><a href='/sections' class='btn btn-primary'> Return to Section homepage </a></p>
