<label for='lesson_name'>Lesson Name</label>
  <input id='lesson_name' name='lesson[name]' type='text' value='<%= @lesson.name %>'>
  <br></br>
  <label for="lesson_number">Lesson Number</label>
  <input id="lesson_number" name="lesson[lesson_number]" type="integer" value="<%= @lesson.lesson_number %>">
  <br></br>
  <label for="content">Lesson Content</label>
  <input id="content" name="lesson[content]" type="text" value="<%= @lesson.content %>">
  <br></br>
