<h1> Edit your Lesson</h1>

<%= render('layouts/errors', :object => @lesson) %>

<form action='/lessons/<%= @lesson.id %>' method='post'>
  <input name='_method' type='hidden' value='patch'>

  <%= render('form') %>

  <button class='btn btn-success'>Update Lesson</button>
</form>
<br></br>

<p><a href='/lessons/<%= @lesson.id %>'
  data-confirm='Are you sure you want to delete?'
  data-method='delete'
  rel='nofollow' class='btn btn-info'>Delete this Lesson</a></p>

<p><a href='/lessons' class='btn btn-primary'>Return to Lesson Homepage</a></p>
